[gcode_macro Comb]
gcode:
    # Home if not Homed
      {% if not 'xyz' in printer.toolhead.homed_axes and auto_home %}
            G28 x y z
      {% endif %}
  
    G90                           # Absolute Positioning
    G0 Z 10 F300
    G0 X 114 Y 353 F3000          # Move to safe Point
    STATUS_HEATING
    M109 S250

    STATUS_CLEANING
    G0 Z -0.6 F300                # Go to initial Brush height
    G0 X 124 F3000                # Move to Start point
    G0 X 159 Y 354 F2000          # Brush in cross pattern from corner to corner
    G0 Y 353 F1000                #  ^    
    G0 X 124 Y 354 F2000          #  ^    
    G0 X 114 Y 353 F3000          # Move away from Brush
    G0 Z -1 F100                  # Go to secondary Brush height
    G0 X 124 F3000                # Move to Start point
    G0 X 159 Y 354 F2500          # Brush in cross pattern from corner to corner
    G0 Y 353 F2000                #  ^    
    G0 X 124 Y 354 F2500          #  ^    
    G0 X 114 F3000                # Move away from Brush (to safe point)
    G0 Z 10 F300                  # Move toolhead up
    G28 Z                         # Home Z again for accurate Measurement